In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn

In [2]:
df=pd.read_csv("Balanced_2500_Row_Dataset.csv")

In [3]:
df.head(10)

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
0,7.5,Cloud,Python,DevOps,"Infosys, TCS, Tech Mahindra",Cloud Engineer
1,9.8,Software Dev,C#,DBMS,"Amazon, NVIDIA, Apple",Software Developer
2,8.9,Cybersecurity,C++,AI,"TCS, SAP, IBM",Cybersecurity Engineer
3,8.4,AIML,Java,AI,"Oracle, SAP, IBM",Data Scientist
4,6.6,Cybersecurity,Rust,Front End,"NIIT Technologies, Birlasoft, Mphasis",Cloud Engineer
5,6.6,Software Dev,Java,Big Data,"NIIT Technologies, Mindtree, Mphasis",Software Developer
6,6.2,Software Dev,Java,Backend,"Mphasis, NIIT Technologies, Birlasoft",Software Developer
7,9.5,AIML,Java,AI,"Apple, Microsoft, Amazon",Data Scientist
8,8.4,DevOps,TypeScript,Backend,"Infosys, IBM, Oracle",System Engineer
9,8.8,Software Dev,Python,Data Analytics,"SAP, TCS, Oracle",System Engineer

In [4]:
df.tail(10)

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
2491,6.8,DevOps,TypeScript,DevOps,"NIIT Technologies, Mindtree, Mphasis",System Engineer
2492,9.0,Cloud,Go,Cloud Computing,"Amazon, OpenAI, IBM",DevOps Engineer
2493,7.5,Cybersecurity,Rust,Front End,"Cognizant, TCS, Tech Mahindra",Cybersecurity Engineer
2494,8.0,Cybersecurity,C++,AI,"IBM, Infosys, Oracle",Cybersecurity Engineer
2495,8.0,Software Dev,C#,DBMS,"IBM, Capgemini, Infosys",Software Developer
2496,8.3,Software Dev,C#,DBMS,"TCS, IBM, SAP",Data Analyst
2497,9.5,Cybersecurity,Rust,Cybersecurity,"NVIDIA, Amazon, IBM",Cybersecurity Engineer
2498,9.9,Web Dev,TypeScript,Front End,"Microsoft, Amazon, IBM",Web Developer
2499,6.4,NaN,NaN,NaN,NaN,NaN
2500,7.6,DevOps,Go,DevOps,"Tech Mahindra, Wipro, Cognizant",System Engineer

In [5]:
df.columns

Index(['CGPA', 'Internship Type', 'Programming Language', 'Technology',
       'Company', 'Job Role'],
      dtype='object')

In [6]:
df.shape

(2501, 6)

In [7]:
df.info()#the columns are in the same datatype they have to be...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2501 entries, 0 to 2500
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CGPA                  2501 non-null   float64
 1   Internship Type       2500 non-null   object
 2   Programming Language  2500 non-null   object
 3   Technology            2500 non-null   object
 4   Company               2500 non-null   object
 5   Job Role              2500 non-null   object
dtypes: float64(1), object(5)
memory usage: 117.4+ KB

In [8]:
df.isnull().sum()

CGPA                    0
Internship Type         1
Programming Language    1
Technology              1
Company                 1
Job Role                1
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
0,7.5,Cloud,Python,DevOps,"Infosys, TCS, Tech Mahindra",Cloud Engineer
1,9.8,Software Dev,C#,DBMS,"Amazon, NVIDIA, Apple",Software Developer
2,8.9,Cybersecurity,C++,AI,"TCS, SAP, IBM",Cybersecurity Engineer
3,8.4,AIML,Java,AI,"Oracle, SAP, IBM",Data Scientist
4,6.6,Cybersecurity,Rust,Front End,"NIIT Technologies, Birlasoft, Mphasis",Cloud Engineer
...,...,...,...,...,...,...
2495,8.0,Software Dev,C#,DBMS,"IBM, Capgemini, Infosys",Software Developer
2496,8.3,Software Dev,C#,DBMS,"TCS, IBM, SAP",Data Analyst
2497,9.5,Cybersecurity,Rust,Cybersecurity,"NVIDIA, Amazon, IBM",Cybersecurity Engineer
2498,9.9,Web Dev,TypeScript,Front End,"Microsoft, Amazon, IBM",Web Developer
2500,7.6,DevOps,Go,DevOps,"Tech Mahindra, Wipro, Cognizant",System Engineer

In [11]:
df.duplicated().sum()

11

In [12]:
df=df.drop_duplicates()
df.duplicated().sum()

0

In [13]:
df["Internship Type"].value_counts()
df["Programming Language"].value_counts()
df["Job Role"].value_counts()
# df["Company"].value_counts()
# df["Technology"].value_counts()

Job Role
DevOps Engineer           358
Cloud Engineer            357
System Engineer           344
Software Developer        299
Data Scientist            297
Cybersecurity Engineer    278
Web Developer             262
Data Analyst              190
AI Engineer               104
Name: count, dtype: int64

In [14]:
len(df["CGPA"].unique())
len(df["Internship Type"].unique())
len(df["Programming Language"].unique())
# len(df["Job Role"].unique())
len(df["Technology"].unique())

10

In [15]:
df["Job Role"].unique()
# df["Programming Language"].unique()

array(['Cloud Engineer', 'Software Developer', 'Cybersecurity Engineer',
       'Data Scientist', 'System Engineer', 'DevOps Engineer',
       'AI Engineer', 'Web Developer', 'Data Analyst'], dtype=object)

In [16]:
# df["CGPA"]=pd.to_numeric(df["CGPA"],errors="coerce").astype(float)

In [17]:
df.describe() #There are no outliers from checking by IQR method of lowebound and upperbound

              CGPA
count  2489.000000
mean      7.997951
std       1.165411
min       6.000000
25%       7.000000
50%       8.000000
75%       9.000000
max      10.000000

In [18]:
df

,CGPA,Internship Type,Programming Language,Technology,Company,Job Role
0,7.5,Cloud,Python,DevOps,"Infosys, TCS, Tech Mahindra",Cloud Engineer
1,9.8,Software Dev,C#,DBMS,"Amazon, NVIDIA, Apple",Software Developer
2,8.9,Cybersecurity,C++,AI,"TCS, SAP, IBM",Cybersecurity Engineer
3,8.4,AIML,Java,AI,"Oracle, SAP, IBM",Data Scientist
4,6.6,Cybersecurity,Rust,Front End,"NIIT Technologies, Birlasoft, Mphasis",Cloud Engineer
...,...,...,...,...,...,...
2495,8.0,Software Dev,C#,DBMS,"IBM, Capgemini, Infosys",Software Developer
2496,8.3,Software Dev,C#,DBMS,"TCS, IBM, SAP",Data Analyst
2497,9.5,Cybersecurity,Rust,Cybersecurity,"NVIDIA, Amazon, IBM",Cybersecurity Engineer
2498,9.9,Web Dev,TypeScript,Front End,"Microsoft, Amazon, IBM",Web Developer
2500,7.6,DevOps,Go,DevOps,"Tech Mahindra, Wipro, Cognizant",System Engineer

In [19]:
df.columns

Index(['CGPA', 'Internship Type', 'Programming Language', 'Technology',
       'Company', 'Job Role'],
      dtype='object')

In [20]:
df=pd.get_dummies(df,columns=["Internship Type","Programming Language","Technology"])#.astype(int)
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2489 entries, 0 to 2500
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CGPA                             2489 non-null   float64
 1   Company                          2489 non-null   object
 2   Job Role                         2489 non-null   object
 3   Internship Type_AIML             2489 non-null   bool
 4   Internship Type_Cloud            2489 non-null   bool
 5   Internship Type_Cybersecurity    2489 non-null   bool
 6   Internship Type_DevOps           2489 non-null   bool
 7   Internship Type_Software Dev     2489 non-null   bool
 8   Internship Type_Web Dev          2489 non-null   bool
 9   Programming Language_C#          2489 non-null   bool
 10  Programming Language_C++         2489 non-null   bool
 11  Programming Language_Go          2489 non-null   bool
 12  Programming Language_Java        2489 non-null   bool
 13  Programming Language_JavaScript  2489 non-null   bool
 14  Programming Language_Python      2489 non-null   bool
 15  Programming Language_R           2489 non-null   bool
 16  Programming Language_Rust        2489 non-null   bool
 17  Programming Language_SQL         2489 non-null   bool
 18  Programming Language_TypeScript  2489 non-null   bool
 19  Technology_AI                    2489 non-null   bool
 20  Technology_Backend               2489 non-null   bool
 21  Technology_Big Data              2489 non-null   bool
 22  Technology_Cloud Computing       2489 non-null   bool
 23  Technology_Cybersecurity         2489 non-null   bool
 24  Technology_DBMS                  2489 non-null   bool
 25  Technology_Data Analytics        2489 non-null   bool
 26  Technology_DevOps                2489 non-null   bool
 27  Technology_Front End             2489 non-null   bool
 28  Technology_ML                    2489 non-null   bool
dtypes: bool(26), float64(1), object(2)
memory usage: 141.0+ KB

In [21]:
df= df.astype({col: int for col in df.columns if df[col].dtype == 'bool'})

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
label=LabelEncoder()
df["Job Role"]=label.fit_transform(df["Job Role"])
# df

In [24]:
for index, class_label in enumerate(label.classes_):
    print(f"{index}: {class_label}")

0: AI Engineer
1: Cloud Engineer
2: Cybersecurity Engineer
3: Data Analyst
4: Data Scientist
5: DevOps Engineer
6: Software Developer
7: System Engineer
8: Web Developer

In [25]:

# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# df["CGPA"] = scaler.fit_transform(df[["CGPA"]])

In [26]:
x=df.drop(["Company","Job Role"],axis=1)
y=df["Job Role"]

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [29]:
print(len(x_train),len(y_train))

1742 1742

In [30]:
print(len(x_test),len(y_test))

747 747

In [31]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=300,C=0.1,penalty="l2")
model.fit(x_train,y_train)
print("Train Score",model.score(x_train,y_train))
print("Test Score",model.score(x_test,y_test))

Train Score 0.6010332950631458
Test Score 0.5957161981258366

In [32]:
from sklearn.ensemble import RandomForestClassifier
model1= RandomForestClassifier(max_depth=10, n_estimators=1000, random_state=42)
model1.fit(x_train, y_train)

print("Train Score:", model1.score(x_train, y_train))
print("Test Score:", model1.score(x_test, y_test))

# model.score(x_test,y_test)

Train Score: 0.78300803673938
Test Score: 0.5381526104417671

In [33]:
#Lets Use Logistic Regression Algorithm bcs it is giving High Test Score 
from sklearn.metrics import classification_report, accuracy_score

y_pred_train = model.predict(x_train)
y_pred_test = model.predict(x_test)

print("Train Accuracy:", accuracy_score(y_train, y_pred_train))
print("Test Accuracy:", accuracy_score(y_test, y_pred_test))
print("\nClassification Report on Test Data:")
print(classification_report(y_test, y_pred_test))

Train Accuracy: 0.6010332950631458
Test Accuracy: 0.5957161981258366

Classification Report on Test Data:
              precision    recall  f1-score   support

           0       0.47      0.24      0.32        29
           1       0.55      0.32      0.40       116
           2       0.64      1.00      0.78        89
           3       0.44      1.00      0.61        59
           4       0.78      0.91      0.84        87
           5       0.51      0.27      0.36       106
           6       0.75      0.03      0.07        87
           7       0.60      0.70      0.65       102
           8       0.63      0.99      0.77        72

    accuracy                           0.60       747
   macro avg       0.60      0.61      0.53       747
weighted avg       0.61      0.60      0.53       747

In [34]:
x.columns

Index(['CGPA', 'Internship Type_AIML', 'Internship Type_Cloud',
       'Internship Type_Cybersecurity', 'Internship Type_DevOps',
       'Internship Type_Software Dev', 'Internship Type_Web Dev',
       'Programming Language_C#', 'Programming Language_C++',
       'Programming Language_Go', 'Programming Language_Java',
       'Programming Language_JavaScript', 'Programming Language_Python',
       'Programming Language_R', 'Programming Language_Rust',
       'Programming Language_SQL', 'Programming Language_TypeScript',
       'Technology_AI', 'Technology_Backend', 'Technology_Big Data',
       'Technology_Cloud Computing', 'Technology_Cybersecurity',
       'Technology_DBMS', 'Technology_Data Analytics', 'Technology_DevOps',
       'Technology_Front End', 'Technology_ML'],
      dtype='object')

In [35]:
prediction=model.predict([[9.4,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])
for index, class_label in enumerate(label.classes_):
    if(prediction[0]==index):
        print(f"{index}:{class_label}")

print(prediction[0])

5:DevOps Engineer
5

c:\Users\sanga\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [36]:
import joblib

joblib.dump(model, 'JOB_model.joblib')
joblib.dump(label, "JOB_label_encoder.joblib")

['JOB_label_encoder.joblib']

In [37]:

# Load the model and label encoder
model = joblib.load("JOB_model.joblib")
label = joblib.load("JOB_label_encoder.joblib")  

# Define the input using the correct column names
input_data = pd.DataFrame([{
    'CGPA': 9.4,
    'Internship Type_AIML': 0,
    'Internship Type_Cloud': 1,
    'Internship Type_Cybersecurity': 0,
    'Internship Type_DevOps': 0,
    'Internship Type_Software Dev': 0,
    'Internship Type_Web Dev': 0,
    'Programming Language_C#': 0,
    'Programming Language_C++': 0,
    'Programming Language_Go': 0,
    'Programming Language_Java': 0,
    'Programming Language_JavaScript': 0,
    'Programming Language_Python': 1,
    'Programming Language_R': 0,
    'Programming Language_Rust': 0,
    'Programming Language_SQL': 0,
    'Programming Language_TypeScript': 0,
    'Technology_AI': 0,
    'Technology_Backend': 0,
    'Technology_Big Data': 0,
    'Technology_Cloud Computing': 0,
    'Technology_Cybersecurity': 0,
    'Technology_DBMS': 0,
    'Technology_Data Analytics': 0,
    'Technology_DevOps': 1,
    'Technology_Front End': 0,
    'Technology_ML': 0
}])

# Predict the encoded label
prediction = model.predict(input_data)

# Print the predicted label name
predicted_company = label.inverse_transform(prediction)[0]
print(f"Predicted Company: {predicted_company}")
print(f"Encoded Prediction: {prediction[0]}")

Predicted Company: DevOps Engineer
Encoded Prediction: 5